@import "../static_pages.scss";

.friend-requests {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .pending-requests {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 24px 0;
    }

    .friend-requests-list {
        flex-direction: column;
        width: 360px;
        min-width: 360px;
        height: 100%;
        background-color: $nav-bar-bg;
        border: 1px solid $border-color;
        overflow-y: scroll;
        padding: 12px;

        h3 {
            width: 100%;
            margin: 12px 0;
            align-items: flex-start;
            height: 100%;
            padding-top: 12px;
        }

        .item:hover {
            cursor: pointer;
            background-color: $icon-hover-bg;
            border-radius: 5px;
            border: 1px solid $border-color;
        }

        .item {
            flex-direction: row;
            height: 105px;
            box-sizing: border-box;
            padding: 8px;


            img {
                object-fit: contain;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $icon-bg;
            }

            .right {
                display: flex;
                flex-direction: column;
                height: 100%;
                box-sizing: border-box;

                h3 {
                    box-sizing: border-box;
                    width: 100%;
                    align-items: flex-start;
                    margin: 0;
                    padding: 0 24px;
                }

                p {
                    box-sizing: border-box;
                    padding: 0 24px;
                    width: 100%;
                    align-items: flex-start;
                }

                .buttons {
                    width: 100%;
                    height: 100%;
                    flex-direction: row;
                    gap: 12px;
                    justify-content: center;

                    button {
                        align-items: center;
                        justify-content: center;
                        background-color: $icon-bg;
                        box-sizing: border-box;
                        height: 36px;
                        // max-width: 124px;
                        min-width: 100px;
                        padding: 12px;
                    }

                    button:hover {
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    .add {
                        background-color: $blue;
                        min-width: 124px;
                    }
                }
            }
        }
    }
}

.nav-item {
    font-weight: bold;
    width: fit-content;
    height: unset;
    padding: 14px 12px;
    border-radius: 8px;
    font-size: 16px;
    gap: 6px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: $icon-hover-bg;
}

.friends {
    display: flex;
    flex-direction: column;

    .header {
        flex-direction: row;
        justify-content: space-between;

        div {
            height: 100%;
            width: fit-content;
            align-items: center;
        }
    }
}

.friends-collection {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 12px;
    height: fit-content;
    padding-bottom: 50%;
    overflow-y: scroll;

    .accepted,
    .pending {
        // margin: 12px 0;
        // padding-top: 12px;
        padding-bottom: 12px;

        width: inherit;
        flex-direction: inherit;
        flex-wrap: inherit;
        justify-content: inherit;
        align-items: inherit;
        column-gap: inherit;
        // overflow-y: scroll;
        // height: inherit;
        
        .item {
            margin-top: 12px;
            align-items: center;
            width: 49%;
            height: 116px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
            background-color: $nav-bar-bg;
            padding: 18px;
            border-radius: 8px;
            gap: 8px;

            .info {
                margin: 0 12px;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                h3 {
                    margin: 0;
                }

                h3:hover {
                    text-decoration: underline;
                }
            }

            img {
                object-fit: contain;
                width: 80px;
                height: 80px;
                border-radius: 8px;
            }

            img:hover {
                cursor: pointer;
            }

            button {
                border-radius: 8px;
                font-size: 15px;
                width: fit-content;
                padding: 8px 18px;
                background-color: $icon-bg;
            }

            button:hover {
                background-color: $icon-hover-bg;
            }
        }
    }
}