@import "../static_pages.scss";


.profile {
    // $body-bg: #1d1d1d;
    $bar-height: 60px;
    display: flex;
    flex-direction: column;
    background-color: $body-bg;
    box-sizing: border-box;


    .header {
        height: fit-content;
        

        .photos {
            max-height: 350px;
            position: relative;

            .cover-photo {
                background: linear-gradient(
                    rgba(50,50,50,255), rgba(0,0,0,255));
                width: 100%;
                // height: 100%;
                height: 35vw;
                overflow: hidden;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                border-bottom: 1px solid $border-color;

                img {
                    object-fit: contain;
                    width: auto;
                    height: 100%;
                }
            }



            .profile-photo {
                position: absolute;
                bottom: -20px;
                width: 168px;
                height: 168px;
                background-color: $icon-bg;
                border-radius: 50%;
                overflow: hidden;
                border: 5px solid $nav-bar-bg;

                img {
                    background-color: $icon-hover-bg;
                    width: auto;
                    height: 100%;
                }
            }
        }

        .bio {
            height: fit-content;
            background-color: $nav-bar-bg;
            border-bottom: 1px solid $border-color;
        }

        .navigation {
            flex-direction: row;
            background-color: $nav-bar-bg;
            height: $bar-height;
            justify-content: space-between;
            padding: 0 16px;

            .left {
                justify-content: flex-start;
            }

            .right {
                justify-content: flex-end;
                .item {
                    background-color: $icon-bg;
                }
            }

            .item {
                font-weight: bold;
                width: fit-content;
                height: unset;
                padding: 14px 12px;
                border-radius: 8px;
                font-size: 16px;
                gap: 6px;
            }

            .item:hover {
                cursor: pointer;
                background-color: $icon-hover-bg;
            }
        }
    }

    .content {
        background-color: $body-bg;
        max-width: 940px;
    }

    .body {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}