// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../static_pages.scss";

.login-modal {
    .error {
        color: red;
        position: absolute;
        right: 20px;
    }

}

.logged-out-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $light-gray;
    justify-content: center;
    align-items: center;
}

.logged-out-footer {
    background-color: white;
    align-self: stretch;
}

.logged-out-body-login {
    display: flex;
    flex-direction: column;
    width: 396px;
    align-items: center;
}

.logged-out-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 92px;
    padding-bottom: 132px;
    overflow: hidden;
    width: fit-content;
}

.logged-out-body-recent-logins {
    justify-content: flex-start;
    display: flex;
    width: 584px;
    box-sizing: border-box;
    height: 496px;
    flex-direction: column;
    padding-right: 48px;
}

.logged-out-body-recent-logins>.section-header-message>h2 {
    font-weight: normal;
}

.recent-login-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recent-login-card {
    display: flex;
    width: 160px;
    height: 206px;
    list-style: none;
    border: 1px solid $light-border-gray;
    border-radius: 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.logged-out-body-recent-logins>.section-header-message {
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.logged-out-logo {
    height: 70px;
    padding: 8px 0 16px 0;
    margin-left: -20px;
}

.section-header>.section-header-message {
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 396px;
    background-color: white;
    padding: 10px 16px 24px 16px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 40px 0 0 0;

    height: unset;

}

.signup-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.small-message {
    font-size: 11px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    width: fit-content;
}

.signup-overlay>.login-modal {
    margin: 0;
    padding: 16px;
    width: 432px;
    // height: 489px;
    justify-content: flex-start;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link {
    color: rgb(56, 88, 152);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.signup-form>p>.link {
    color: rgb(56, 88, 152);
}


.signup-form-h-stack {
    display: flex;
    flex-direction: row;
    padding: inherit;
    justify-content: space-between;
    gap: 12px;

    div {
        width: 100%;
        height: 40px;
        margin: 6px 0;

        input {
            padding: 11px;
            width: 100%;
            height: 100%;
        }
    }
}



.signup-form {

    input[type=text],
    input[type=password] {
        background-color: #f5f6f7;
        width: 100%;
        height: 40px;
        font-size: 15px;
        ;
        box-sizing: border-box;
    }
}

.signup-form>p {
    font-size: 11px;
    line-height: 14.74px;
    margin: 11px 0;
}

.signup-form>.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a400;
    width: 194px;
    height: 36px;
    padding: 0;
    margin: 0;
}

.signup-form>.named-selector-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 6px 0;
}

.named-selector-container>.named-selector-tag {
    flex-direction: row;
    margin-bottom: 5px;

    svg {
        color: $subtext-gray;
    }
}

.named-selector-tag>label {
    font-size: 12px;
    margin-right: 5px;
}

.named-selector-container>.named-selectors {
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;

}

.named-selectors {
    box-sizing: border-box;
    select, .radio-option {
        width: 125px;
        border-radius: 4px;
        color: #1c1e21;
        font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight: normal;
        height: 36px;
        line-height: 20px;
        border-color: $light-border-gray;
    }

    .radio-option {
        align-items: center;
        justify-content: space-between;
        border: 1px solid $light-border-gray;
        width: 100%;
        height: 15px;
        padding: 14px 16px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    input[type=radio] {
        width: 14px;
        height:14px;
    }
}

.login-modal > .section-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 14px;
    margin-bottom: 16px;
    border-bottom: 1px solid #dadde1;
}

.login-modal {
    input {
        width: 330px;
        height: 22px;
    }
}


.login-button {
    background-color: #1877f2;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    ;
    margin-top: 6px;
}

.login-modal>.signup-button,
.login-modal>form>.signup-button {
    background-color: #42b72a;
    border: none;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}

.login-modal>.link {
    color: #1877f2;
    display: block;
    width: 100%;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
}

.login-modal>.link:hover {
    text-decoration: underline;
}

.login-modal>.section-separator {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    margin: 20px 16px;
    text-align: center;
}