// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../static_pages.scss";

.form-container {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.login {
    width: 370px;
    height: 350px;
}

.signup .gender-radio {
    width: 13px;
}

.signup {
    width: 400px;
    height: 500px;
    padding: 0px;
    align-items: flex-start;
    font-size: 15px;
}

.show-modal {
    display: flex;
}

.signup div {
    flex-direction: row;
}

.signup-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.signup div {
    display: flex;
    justify-content: space-between;
}

.signup div input {
    width: 195px;
}

.birthday-input {
    width: 125px;
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    border-color: $light-border-gray;
}

.gender-option {
    width: 125px;
    align-items: center;
    padding: 10px;
    border: 1px solid $light-border-gray;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: $light-gray;
}

.login form,
.signup form {
    padding: 0px;
    width: 100%;
}

.login button,
.login input,
.login .link,
.signup button,
.signup input {
    margin: 5px 0;
    height: 55px;
    padding: 10px;
    justify-content: center;
}

.signup input {
    background-color: $lightest-gray;
    height: 40px;
}

.login button,
.signup button {
    height: 50px;
    border: none;
    background-color: $blue;
    color: white;
    font-weight: bold;
}

.login input,
.signup input {
    border: 1px solid $light-border-gray;
}

#signup-button {
    background-color: $green;
    width: 200px;
    align-items: center;
    align-self: center;
}

.login .links {
    justify-content: space-evenly;
    height: 50%;
}

.login .link {
    color: $blue;
    font-size: 15px;
    text-decoration: none;
}

#inherits_all {
    all: inherit;
}

.signup-grouping {
    margin-bottom: 10px;
}

.login .separator,
.signup .separator {
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}

.signup .separator {
    margin-top: 15px;
}

.signup .signup-message {
    display: flex;
    flex-direction: column;
}

.signup .signup-header {
    justify-content: space-between;
}

.signup-header img {
    width: 24px;
    height: 24px;
}

.signup .tag {
    display: flex;
    height: 20px;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 5px;
}

.tag img {
    position: relative;
    width: 15px;
    height: 15px;
    top: 2.5px;
    margin-left: 5px;
}