@import "../static_pages.scss";

.timeline {
    padding-top: 16px;
    gap: 16px;
    height: fit-content;
    justify-content: flex-start;

    .left {
        flex-direction: column;
        // height: fit-content;
        gap: 16px;

        .section {
            background-color: $bar-bg;
            padding: 16px;
            border-radius: 8px;
        }
    }

    .right {
        align-items: center;
        flex-direction: column;
        // justify-content: flex-start;
        // height: fit-content;
        .post {
            background-color: $bar-bg;
            padding: 16px;
            border-radius: 8px;
        }
    }
}