@import "../static_pages.scss";

.edit-modal,
.update-photo-modal,
[class*=post-modal-] {
    $overlay-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    background-color: $overlay-color;

    form {
        width: 700px;
        height: fit-content;
        background-color: $nav-bar-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        padding: 16px;
        border-radius: 8px;
        position: relative;
        margin-top: 60px;

        textarea {
            width: 100%;
            min-height: 150px;
            border: 1px solid $border-color;
            background-color: $body-bg;
            resize: none;
            color: $text-color;
        }

        img {
            width: 300px;
            height: 300px;
            // border-radius: 50%;
        }

        .item{
            flex-direction: row;
            gap: 8px;
            width: 100%;
            justify-content: center;
            align-items: center;
            label {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 8px;
                width: 100%;
                height: 100%;
            }
            input[type=file] {
                display: none;
            }
        }

        .header-button:hover {
            cursor: pointer;
            background-color: $icon-hover-bg;
        }

        .header {
            flex-direction: row;
            width: 100%;
            height: fit-content;
            justify-content: center;
            padding: 8px 0;
            border-bottom: 1px solid $border-color;

            h3 {
                padding: 8px 0;
                width: fit-content;
                height: fit-content;
                margin: 0;
            }

            .icon {
                width: 40px;
                height: 40px;
                position: absolute;
                top: 16px;
                right: 16px;
                background-color: $icon-color;
                border-radius: 50%;
            }

            .icon:hover {
                cursor: pointer;
                background-color: $icon-hover-bg;
            }
        }


        .section {
            height: fit-content;

            .profile {
                height: fit-content;
                padding: 16px;
                img {
                    background-color: $icon-color;
                    border-radius: 50%;
                    border: none;
                    width: 168px;
                    height: 168px;
                }
            }
        }
    }
}

.footer {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 68px;
    gap: 8px;
}

.blue {
    background-color: $blue;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: $icon-bg;
}

button:hover {
    cursor: pointer;
    background-color: $icon-hover-bg;
}