// Place all the styles related to the api/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $nav-icon-dark-color:  #4A4A4A;
// $nav-item-bg:  #373737;
// $main-bg: #1C1C1C;

@import "../static_pages.scss";

.nav-bar {
    $height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $height;
    width: 100%;
    background-color: $nav-bar-bg;
    border-bottom: 1px solid $border-color;
    position: relative;

    div {
        height: 100%;
        gap: 12px;
    }

    .left {
        justify-content: flex-start;
    }

    .right {
        justify-content: flex-end;
    }

    .middle {
        justify-content: space-evenly;

        .icon {
            background-color: transparent;

            svg {
                width: 28px;
                height: 28px;
            }
        }
    }

    .profile-item {
        border-radius: 30px;
        width: fit-content;
        height: 40px;
        padding: 6px;
        box-sizing: border-box;
        gap: 3px;

        .icon {
            width: 28px;
            height: 28px;
            border-radius: 50%;
        }

        .icon:hover {
            background-color: $icon-bg;
        }

        p {
            color: $text-color;
        }
    }

    .search-item {
        border-radius: 30px;
        width: fit-content;
        height: 40px;
        padding: 6px;
        box-sizing: border-box;
        position: relative;
        width: 240px;
        background-color: $icon-bg;

        .icon {
            position: absolute;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: transparent;
        }

        input {
            background-color: inherit;
            border-radius: inherit;
            border: none;
            padding: 10px;
            width: 100%;
            color: white;
            outline: none;
        }

        input::placeholder {
            position: relative;
            left: 20px;
        }

        .focused::placeholder {
            left: 0;
        }

        .icon:hover {
            cursor: inherit;
            background-color: inherit;
        }
    }

    .profile-item:hover {
        background-color: $icon-bg;
        cursor: pointer;
    }

    .icon {
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $icon-bg;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .icon:hover {
        cursor: pointer;
        background-color: $icon-hover-bg;
    }

    .dropdown {
        position: absolute;
        border:1px solid $border-color;
        box-sizing: border-box;
        border-radius: 8px;
        right: 0px;
        top: 55px;
        width: 360px;
        min-height: 250px;
        flex-direction: column;
        padding: 5px;
        z-index: 100;

        .item {
            flex-direction: row;
            justify-content: flex-start;
            height: fit-content;
            padding: 5px;
            border-radius: 8px;
            box-sizing: border-box;
        }

        .item:hover {
            background-color: $icon-hover-bg;
            cursor: pointer;
        }
    }
}