// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #1877f2;
$green: #42b72a;
$light-gray: #e9ebee;
$lightest-gray: #f5f6f7;
$light-border-gray: #dddfe2;
$subtext-gray: #606770;

// $icon-bg: #4A4A4A;
// $icon-color: #CCCCCC;
// $bar-bg: #282828;
// $border-color: rgb(62, 64, 66); 
// $item-text: white;
// $item-hover-bg:  #828282;

$nav-bar-bg: #242526;
$icon-color: #3E3E3E;
$icon-bg: #3A3B3C;
$icon-hover-bg: #4E4F50;
$icon-color-dim: #B1B3B8;
$body-bg: #18191A;
$section-bg: #242526;
$border-color: #393A3B;
$text-color: #E4E6EA;

// @import url(//db.onlinewebfonts.com/c/aa12a710af434ef5e04f88fc37a4c7cc?family=Klavika+Bold);

html, div, p, h2, img, form, label, body {
    all: unset;
    font-family: Helvetica, Arial, sans-serif;
    color: $text-color;
    outline: none;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

._null {
    position: absolute;
    width: 0;
    height: 100%;
}

html {
    height: 100%;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

p {
    color: $subtext-gray;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

button {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    text-align: center;
    outline: none;
}

body {
    background-color: #1d1d1d;
    height: 100%;
}

.small-icon {
    width: 15px;
    height: 15px;
}

.medium-icon {
    width: 24px;
    height: 24px;
}
main,
div,
form {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
    background-color: inherit;
    height: inherit;
    box-sizing: inherit;
}

input[type=text],
input[type=password],
input[type=radio] {
    border: 1px solid $light-border-gray;
    padding: 14px 16px;
    border-radius: 6px;
    margin: 6px 0;
    font-family: Helvetica, Arial, sans-serif;
}